<h1>Login</h1>
<form method="post" action="/session">
  Username<br>
  <input type="text" name="username"></input><br>
  Password <br>
  <input type="password" name="password"></input><br>
  <input type="submit" value="Login"></input>
</form>
<a href="/users/new">Sign up</a>