<input type="checkbox" ng-model="item.done" ng-click="todo.count(item)"></input>
<label ng-hide="item.editable">{{item.title}}</label>
<input type="text" ng-model="item.title" ng-show="item.editable" ng-enter="todo.setEditable(item)" style="border: none;width: 80%"></input>

<button type="button" class="btn-info btn" ng-click="todo.removeTodo(item)">Delete</button>
<button type="button" class="btn-info btn" ng-click="todo.setEditable(item)" >Edit</button>